<div class="auth-page">
  <div class="container page">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Register</h1>
        <p class="text-xs-center">
          Have an account?
        </p>
        <form>
            <fieldset>
                <fieldset class="form-group">
                    <input class="form-control form-control-lg"
                      type="text"
                      placeholder="Username"
                      ng-model="$ctrl.formData.username"
                    />
                </fieldset>
            </fieldset>
        </form>
    </div>
  </div>
</div>
